@model List<Lab06.Models.EventModel>

@{
    ViewBag.Title = "EventView";
}

<h2 style="font-weight:bold; color:darkred">All events:</h2>

<table class="table">
    <tr style="background-color: orangered; color:darkred">
        <th>ID</th>
        <th>Име</th>
        <th>Локација</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (Lab06.Models.EventModel eventItem in @Model)
    {
        <tr style="background-color: lightyellow; color:darkred">
            <td>@eventItem.ID</td>
            <td>@eventItem.name</td>
            <td>@eventItem.location</td>
            <td>
                <button>@Html.ActionLink("Edit", "UpdateEvent", new { ID = eventItem.ID })</button>
            </td>
            <td>
                <button>@Html.ActionLink("Delete", "DeleteEvent", new { ID = eventItem.ID })</button>
            </td>
        </tr>
    }
</table>

