@model Lab04.Models.EventModel
@{
    ViewBag.Title = "UpdateEvent";
}

<h2 style="color:darkgreen; font-weight:bold; font-style:italic">Update Event</h2>

@using (Html.BeginForm("UpdateEvent", "Event"))
{
    <div class="mt-2" style="color:forestgreen">
        @Html.LabelFor(e => e.ID)
        @Html.TextBoxFor(e => e.ID, new { @readonly = "readonly", @class = "form-control" })
    </div>

    <div class="mt-2"  style="color:forestgreen">
        @Html.LabelFor(e => e.name)
        @Html.TextBoxFor(e => e.name, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.name)
    </div>

    <div class="mt-2"  style="color:forestgreen">
        @Html.LabelFor(e => e.location)
        @Html.TextBoxFor(e => e.location, new { @class = "form-control" })
        @Html.ValidationMessageFor(e => e.location)
    </div>

    <button class="mt-2" style="background:darkgreen; color:white" type="submit">Update Event!</button>

}