@model Albums.Models.Album

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist.artistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.artistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.genreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.genreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.albumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.albumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.albumTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.albumTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.albumPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.albumPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumArtUrl)
        </dt>

        <dd>
            @**промена на albumArtURL, да не биде прикажан како текст, туку како слика*@
            @*@Html.DisplayFor(model => model.AlbumArtUrl)*@
            <img src="@Model.AlbumArtUrl" alt="Album Image" style="max-width:100px; max-height:100px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.albumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
